<section class="hero hero-home section-slide-active">
  <div class="wrapper hero-content gutter">
    <h2 class="text-sun">Hi, my name is
      <span class="text-peach break-m">Adam</span>
      and I am a
      <span class="text-sea-50 break-m">designer</span>
      and
      <span class="text-grape-50">web developer</span>.</h2>
    <p>Thanks for taking the time to come and look at my work! If you see something you like and want to connect, I would love
                      to
      <a href="#contact">hear from you</a>!</p>
  </div>
</section>