/* - - - - - - - - - - Variables - - - - - - - - - - */

:root {
  --color-grape-dark: #19121F;
  --color-grape: #22142E;
  --color-grape-75: #594F62;
  --color-grape-50: #908996;
  --color-grape-25: #C8C4CB;
  --color-grape-5: #F4F3F5;
  --color-sea-dark: #0A2B28;
  --color-sea: #0C3F3F;
  --color-sea-75: #496F6F;
  --color-sea-50: #859F9F;
  --color-sea-25: #C2CFCF;
  --color-sea-5: #F3F5F5;
  --color-leaf-dark: #2F4D3F;
  --color-leaf: #4A745F;
  --color-leaf-75: #779787;
  --color-leaf-50: #A4B9AF;
  --color-leaf-25: #D2DCD7;
  --color-leaf-5: #F6F8F7;
  --color-sun-dark: #AF854C;
  --color-sun: #F1C169;
  --color-sun-75: #F4D08E;
  --color-sun-50: #F8E0B4;
  --color-sun-25: #FBEFD9;
  --color-sun-5: #FEFCF7;
  --color-peach-dark: #AB6049;
  --color-peach: #EA916B;
  --color-peach-75: #EFAC90;
  --color-peach-50: #F4C8B5;
  --color-peach-25: #FAE3DA;
  --color-peach-5: #FEF9F8;

  --font-primary: Prompt, Montserrat, 'Open Sans', sans-serif;
  --font-secondary: Mitr, Montserrat, 'Open Sans', sans-serif;
  --type-scale: 1.3333;
  --type-responsive-type-growth: 1;
  --line-height: 1.3;

  --transition: .2s;
  --animation-speed: 1s;
}

@media only screen and (min-width: 38em) {

 :root {
  --type-responsive-type-growth: 1.1;
 } 

}

@media only screen and (min-width: 60em) {

 :root {
  --type-responsive-type-growth: 1.2;
  --line-height: 1.4;
 } 

}

@media only screen and (min-width: 90em) {

 :root {
  --type-responsive-type-growth: 1.3;
  --line-height: 1.5;
 } 

}

/* - - - - - - - - - - Type Scale - - - - - - - - - - */

html {
  background-color: $color-grape-dark;
  color: $color-sun-50;
  font-family: $font-primary;
  line-height: var(--line-height);
  background-image: url('../images/bg-texture.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, .font-secondary {
  font-family: $font-secondary;
  font-weight: 600;
}

a {
  color: $color-peach;
  text-decoration-color: $color-sun;
  transition:
    opacity $transition,
    border-color $transition,
    text-decoration-color $transition,
    background-color $transition,
    color $transition;
    @include hov() {
      color: $color-sun;
      text-decoration-color: $color-peach;
    }
}

.headline-1,
h1 {
  @include typeScaleH1();
}

.headline-2,
h2 {
  @include typeScaleH2();
}

.headline-3,
h3 {
  @include typeScaleH3();
}

.headline-4,
h4 {
  @include typeScaleH4();
}

.headline-5,
h5 {
  @include typeScaleH5();
}

h6,
body {
  @include typeScaleBody();
}

/* - - - - - - - - - - Color Classes - - - - - - - - - - */

$color-list: (
  grape-dark: var(--color-grape-dark),
  grape: var(--color-grape),
  grape-75: var(--color-grape-75),
  grape-50: var(--color-grape-50),
  grape-25: var(--color-grape-25),
  grape-5: var(--color-grape-5),
  sea-dark: var(--color-sea-dark),
  sea: var(--color-sea),
  sea-75: var(--color-sea-75),
  sea-50: var(--color-sea-50),
  sea-25: var(--color-sea-25),
  sea-5: var(--color-sea-5),
  leaf-dark: var(--color-leaf-dark),
  leaf: var(--color-leaf),
  leaf-75: var(--color-leaf-75),
  leaf-50: var(--color-leaf-50),
  leaf-25: var(--color-leaf-25),
  leaf-5: var(--color-leaf-5),
  sun-dark: var(--color-sun-dark),
  sun: var(--color-sun),
  sun-75: var(--color-sun-75),
  sun-50: var(--color-sun-50),
  sun-25: var(--color-sun-25),
  sun-5: var(--color-sun-5),
  peach-dark: var(--color-peach-dark),
  peach: var(--color-peach),
  peach-75: var(--color-peach-75),
  peach-50: var(--color-peach-50),
  peach-25: var(--color-peach-25),
  peach-5: var(--color-peach-5)
);

$target-list: (
  text: color,
  bg: background-color
);

@each $cName, $cValue in $color-list {
  @each $tName, $tValue in $target-list {

    .#{$tName}-#{$cName} {
      #{$tValue}: $cValue;
    }

  }
}