@mixin hov() {
  &:hover, &:focus {
    @content;
  }
}

@mixin typeScaleH1 {
  font-size: calc(
    1rem
    * var(--type-scale)
    * var(--type-scale)
    * var(--type-scale)
    * var(--type-scale)
    * var(--type-scale)
    * var(--type-responsive-type-growth));
}

@mixin typeScaleH2 {
  font-size: calc(
    1rem
    * var(--type-scale)
    * var(--type-scale)
    * var(--type-scale)
    * var(--type-scale)
    * var(--type-responsive-type-growth));
}

@mixin typeScaleH3 {
  font-size: calc(
    1rem
    * var(--type-scale)
    * var(--type-scale)
    * var(--type-scale)
    * var(--type-responsive-type-growth));
}

@mixin typeScaleH4 {
  font-size: calc(
    1rem
    * var(--type-scale)
    * var(--type-scale)
    * var(--type-responsive-type-growth));
}

@mixin typeScaleH5 {
  font-size: calc(
    1rem
    * var(--type-scale)
    * var(--type-responsive-type-growth));
}

@mixin typeScaleBody {
  font-size: calc(
    1rem
    * var(--type-responsive-type-growth));
}