$color-grape-dark: var(--color-grape-dark);
$color-grape: var(--color-grape);
$color-grape-75: var(--color-grape-75);
$color-grape-50: var(--color-grape-50);
$color-grape-25: var(--color-grape-25);
$color-grape-5: var(--color-grape-5);
$color-sea-dark: var(--color-sea-dark);
$color-sea: var(--color-sea);
$color-sea-75: var(--color-sea-75);
$color-sea-50: var(--color-sea-50);
$color-sea-25: var(--color-sea-25);
$color-sea-5: var(--color-sea-5);
$color-leaf-dark: var(--color-leaf-dark);
$color-leaf: var(--color-leaf);
$color-leaf-75: var(--color-leaf-75);
$color-leaf-50: var(--color-leaf-50);
$color-leaf-25: var(--color-leaf-25);
$color-leaf-5: var(--color-leaf-5);
$color-sun-dark: var(--color-sun-dark);
$color-sun: var(--color-sun);
$color-sun-75: var(--color-sun-75);
$color-sun-50: var(--color-sun-50);
$color-sun-25: var(--color-sun-25);
$color-sun-5: var(--color-sun-5);
$color-peach-dark: var(--color-peach-dark);
$color-peach: var(--color-peach);
$color-peach-75: var(--color-peach-75);
$color-peach-50: var(--color-peach-50);
$color-peach-25: var(--color-peach-25);
$color-peach-5: var(--color-peach-5);

$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);

$transition: var(--transition);