<nav id="{{ include.id | default: 'nav' }}" class="{{ include.class | default: 'nav' }}">
  <ul>
    <li><a href="/#case-studies">Case Studies</a></li>
    <li><a href="/#projects">Projects</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/#contact">Contact</a></li>
  </ul>
</nav>